.spin {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(-360deg);
	}
}

.peerVideo {
    height: 50%;
    object-fit: cover;
    background: #0e131ea3;
    border: 5px solid #0e131e;
    border-radius: 10px;
}