.video-container {
	max-width: 800px;
	height: 600px;
	position: relative;
	padding: 16px;
	margin-bottom: 25px;
}

.myVideo {
	position: absolute;
	bottom: -11px;
	right: 19px;
	width: 20%;
	height: 20%;
	background: #10162321;
	border: 3px solid #41464b !important;
	border-top-left-radius: 10px;
}
.myVideo video {
	width: 100%;
	height: 100%;
}
.myVideo div {
	position: relative;
}
.myVideo h2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 25px;
}
.examinerVideo {
	position: absolute;
	z-index: 10;
	bottom: 110px;
	right: 19px;
	width: 20%;
	height: 20%;
	background: #10162321;
	border: 3px solid #41464b !important;
	border-top-left-radius: 10px;
}

.examinerVideo video {
	width: 100%;
	height: 100%;
}
.examinerVideo div {
	position: relative;
}
.examinerVideo h2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 25px;
}

.otherVideo {
	width: 100%;
	height: 100%;
}
.otherVideo video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background: #0e131ea3;
	border: 3px solid #41464b !important;
	border-radius: 10px;
}
.caller {
	text-align: center;
	color: #fff;
}

.watingText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
