@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body,
html,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: none;
}
.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #e0e0e0;
}
::-webkit-scrollbar-thumb{
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #555;
}
.rpVideo {
  position: absolute !important;
  z-index: 10 !important;
}